@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background: #252525;
  font-family: "Poppins";
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

h1 {
  margin-top: 2rem;
  font-size: 2rem;
  background: linear-gradient(to right, #fdc830, #f37335);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  flex-wrap: wrap;
}

.container {
  text-align: center;
}
.poke-card {
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}
.poke-card img {
  width: 150px;
}
.error {
  color: red;
}

footer {
  text-align: center;
  color: white;
  padding: 30px 0px;
  position: absolute;
  bottom: 0;
}
